<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/b56179660f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/layout/style.css" type="text/css"/>
    <link rel="stylesheet" href="/layout/style_cart.css" type="text/css"/>

    <title>BRAND</title>
</head>
<body>
{{ header | raw }}

{{ content | raw }}
<script type="text/javascript" src="/js/async.js"></script>
</body>
</html>